body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: #f8f8f8;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: auto;
    justify-content:start;
}
/* Sidebar */
.sidebar{
    z-index: 2;
    display: block;
    box-sizing: border-box;
    min-width:270px;
    height: 100vh;
    background: rgb(38, 172, 122);
    position: sticky;
    top:0px;
    color:white;
    opacity: 1;
    transition: opacity 0.5s;
    
}
.sidebar[open]{
    display: none;
    transition-property: display opacity;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    opacity: 0;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding:10px 0px;
    background: rgb(55, 184, 136);
    color:black;
}
.title img{
    border-radius: 100%;
}
.menu{
    padding:0 20px;
    border-bottom: 1px solid rgb(0, 0, 0,10%);
}
.menu-list ul li{
    line-height: 4;
    list-style: none;
}
.menu-list ul li a{
    text-decoration: none;
    color: white;
}
.menu-list ul a:visited,.left-btn a:visited{
    color:none;
}

.menu-list ul li:nth-child(1) a:before{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5rem' height='1rem' viewBox='0 0 1664 1312'%3E%3Cpath fill='blue' d='M1408 768v480q0 26-19 45t-45 19H960V928H704v384H320q-26 0-45-19t-19-45V768q0-1 .5-3t.5-3l575-474l575 474q1 2 1 6m223-69l-62 74q-8 9-21 11h-3q-13 0-21-7L832 200L140 777q-12 8-24 7q-13-2-21-11l-62-74q-8-10-7-23.5T37 654L756 55q32-26 76-26t76 26l244 204V64q0-14 9-23t23-9h192q14 0 23 9t9 23v408l219 182q10 8 11 21.5t-7 23.5'/%3E%3C/svg%3E");
    padding-right:8px;
}
.menu-list ul li:nth-child(2) a:before{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5rem' height='1rem' viewBox='0 0 32 32'%3E%3Cpath fill='red' d='M4 2H2v26a2 2 0 0 0 2 2h26v-2H4Z'/%3E%3Cpath fill='%23000' d='M30 9h-7v2h3.59L19 18.59l-4.29-4.3a1 1 0 0 0-1.42 0L6 21.59L7.41 23L14 16.41l4.29 4.3a1 1 0 0 0 1.42 0l8.29-8.3V16h2Z'/%3E%3C/svg%3E");
    padding-right:8px;
}
.menu-list ul li:nth-child(3) a:before{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5rem' height='1rem' viewBox='0 0 24 24'%3E%3Cpath fill='orange' d='M20 2H4c-1.11 0-2 .89-2 2v11c0 1.11.89 2 2 2h4v5l4-2l4 2v-5h4c1.11 0 2-.89 2-2V4c0-1.11-.89-2-2-2m0 13H4v-2h16zm0-5H4V4h16z'/%3E%3C/svg%3E");
    padding-right:8px;
}
.menu-list ul li:nth-child(4) a:before{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5rem' height='1rem' viewBox='0 0 24 24'%3E%3Cpath fill='yellow' d='M15 21H9V10h6zm2 0V10h5v10a1 1 0 0 1-1 1zM7 21H3a1 1 0 0 1-1-1V10h5zM22 8H2V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1z'/%3E%3C/svg%3E");
    padding-right:8px;
}
.menu-list ul li:nth-child(5) a:before{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5rem' height='1rem' viewBox='0 0 24 24'%3E%3Cpath fill='green' stroke='%23000' stroke-linejoin='round' stroke-width='2' d='M3 6.2c0-1.12 0-1.68.218-2.108a2 2 0 0 1 .874-.874C4.52 3 5.08 3 6.2 3h.6c1.12 0 1.68 0 2.108.218a2 2 0 0 1 .874.874C10 4.52 10 5.08 10 6.2v.6c0 1.12 0 1.68-.218 2.108a2 2 0 0 1-.874.874C8.48 10 7.92 10 6.8 10h-.6c-1.12 0-1.68 0-2.108-.218a2 2 0 0 1-.874-.874C3 8.48 3 7.92 3 6.8zm11 0c0-1.12 0-1.68.218-2.108a2 2 0 0 1 .874-.874C15.52 3 16.08 3 17.2 3h.6c1.12 0 1.68 0 2.108.218a2 2 0 0 1 .874.874C21 4.52 21 5.08 21 6.2v.6c0 1.12 0 1.68-.218 2.108a2 2 0 0 1-.874.874C19.48 10 18.92 10 17.8 10h-.6c-1.12 0-1.68 0-2.108-.218a2 2 0 0 1-.874-.874C14 8.48 14 7.92 14 6.8zm-11 11c0-1.12 0-1.68.218-2.108a2 2 0 0 1 .874-.874C4.52 14 5.08 14 6.2 14h.6c1.12 0 1.68 0 2.108.218a2 2 0 0 1 .874.874C10 15.52 10 16.08 10 17.2v.6c0 1.12 0 1.68-.218 2.108a2 2 0 0 1-.874.874C8.48 21 7.92 21 6.8 21h-.6c-1.12 0-1.68 0-2.108-.218a2 2 0 0 1-.874-.874C3 19.48 3 18.92 3 17.8zm11 0c0-1.12 0-1.68.218-2.108a2 2 0 0 1 .874-.874C15.52 14 16.08 14 17.2 14h.6c1.12 0 1.68 0 2.108.218a2 2 0 0 1 .874.874C21 15.52 21 16.08 21 17.2v.6c0 1.12 0 1.68-.218 2.108a2 2 0 0 1-.874.874C19.48 21 18.92 21 17.8 21h-.6c-1.12 0-1.68 0-2.108-.218a2 2 0 0 1-.874-.874C14 19.48 14 18.92 14 17.8z'/%3E%3C/svg%3E");
    padding-right:8px;
}
.menu-list ul li:nth-child(6) a:before{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='purple' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
    padding-right:8px;
}
#cls-btn{
    display: none;
}
@media only screen  and (width < 755px){
    .sidebar{
        display:none;
        position:absolute;
        z-index: 3;
    }
    .search,.left-btn svg{
        display: none;
    }
    #sb-btn{
        z-index: 3;
    }
    #cls-btn{
        display: block;
        position: absolute;
        top:0;
        right:0;
        background: none;
        border:none;
        font-size: 1.8rem;
    }
    
}
/* Main Content */
.main{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:1em;
}
.main > *{
    padding: 10px;
}
.header{
    z-index: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    background: rgb(255, 255, 255);
    position: sticky;
    top:0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.btn{
    display: flex;
    gap:1em;
}
.header .btn button{
    background: none;
    border: none;
    cursor: pointer;
}
h2,a{
    user-select: none;
}
.left-btn{
    display: flex;
    align-items: center;
}
.left-btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.search input[type=search]{
    background: #f8f8f8;
    padding:10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(173, 170, 170, 0.5);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.submit{
    padding:8px 8px;
    border-radius: 100%;
    border: none;
    background: rgb(38, 172, 122);
}
/* Contentss */
.content{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.status{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    gap:1em;
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:1em;
}
.stat-box{
    flex-grow: 1;
    border-radius: 10px;
    min-width:250px;
    height:150px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: .5;
    flex-wrap: wrap;
    flex-basis: 0;
}
.stat-icon svg{
    font-size: 5rem;
}
.box-2 .stat-box{
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    line-height: .1;
}
.box-2 .top-box{
    flex-grow: 5;
    width:100%;
    background: rgb(54, 99, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.top-box svg{
    font-size: 6rem;
}
.stat-box .yt-bg{
    background: red;
}
.stat-box .ig-bg{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.bot-box{
    flex-grow: 1;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.bot-txt{
    position: relative;
    bottom:8px;
}
.bot-txt p{
    color:  #455A64;
    font-size: 1.5rem;
    font-weight: bold;
}
.bot-txt span{
    color:#99ABB4;
}
.box-2 .stat-box{
    height:200px
}
.stat-box h2{
    font-size: 2rem;
    color:#455A64;
}
.stat-box .stat-info p{
    font-size: 1.3rem;
    color:#99ABB4;
}
.stat-icon{
    font-size:2.5rem;
}
.chart-box{
    display:flex;
    gap:1em;
    flex-wrap: wrap;
}
.chart{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    min-width: 300px;
    flex-grow: 1;
    min-height:250px;
    background: rgb(255, 255, 255);
    flex-basis: 0;
    position: relative;
}
#myChart,#myChart-2{
    padding:10px;
}
.chart-title{
    text-align: center;
    border-bottom: 2px solid #e2e2e2;
    font-size: 1.2rem;
    font-weight: bold;
    color: #455A64;
}
.footer{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}